@import reset

table
  // cell defaults
  td, th
    border: 1px solid lightgray
    padding: 2mm
  th
    font-weight: bold
    background-color: beige
  caption
    font-weight: bold
    font-size: 18pt
    text-align: center
    padding-bottom: 2mm
  thead
    th
      text-align: center
  tbody
    td
      text-align: right
    tr.types
      text-indent: 2em
  tfoot
    th, td
      background-color: lightblue
    td
      font-weight: bold
      text-align: right
