.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Index", results_path
      %li.last= link_to "Table", results_table_path
  .content
    - @charts.each do |chart|
      = chart_placeholder chart.name
