.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Rev by Division", rev_by_div_result_path
      %li= link_to "Rev by Product", rev_by_prod_result_path
      %li.last= link_to "Balance Sheet", balance_sheet_result_path
  .content
    - @charts.each do |chart|
      = chart_placeholder chart.name
