%h1 Listing charts

%table
  %tr
    %th Name
    %th Groups
    %th

  - @charts.each do |chart|
    %tr
      %td= chart.name
      %td= chart.groups.map(&:name).join(', ')
      %td= link_to 'Edit', edit_chart_path(chart)
